PORT="1323"

# DB
## POSTGRESQL
PSQL_HOST="postgresql"
PSQL_PORT="5432"
PSQL_USER="postgres"
PSQL_PASSWORD="password"
PSQL_DBNAME="postgresdb"
PSQL_SSLMODE="disable" # disable|allow|prefer|require|verify-ca|verify-full

JWK_KEY = "f6cc69a688473f37911f7f88325d9b4dc6b44de9beae8ecf09c78d0de598ef69" # Example JWTKEY
