PORT="1323"

# DB
## POSTGRESQL
PSQL_HOST="postgresql"
PSQL_PORT="5432"
PSQL_USER="postgres"
PSQL_PASSWORD="password"
PSQL_DBNAME="postgresdb"
PSQL_SSLMODE="disable" # disable|allow|prefer|require|verify-ca|verify-full
