<!DOCTYPE html>
<html lang="ja" data-theme="light">

<head>
    {{template "mock5_head" .}}
</head>

<body class="bg-gray-50 text-gray-900 font-sans antialiased overflow-x-hidden" x-data="hrAppData">
    <div class="flex min-h-screen relative w-full overflow-hidden" x-cloak>
        {{template "mock5_sidebar" .}}

        <div class="flex-1 flex flex-col min-w-0 w-full overflow-hidden">
            {{template "mock5_header" .}}

            <main class="flex-1 overflow-y-auto p-6 w-full max-w-7xl mx-auto no-scrollbar h-full">
                {{template "mock5_view_home" .}}
                {{template "mock5_view_detail" .}}
                {{template "mock5_view_notice" .}}
                {{template "mock5_view_tag" .}}
                {{template "mock5_view_users" .}}
                {{template "mock5_view_settings" .}}
            </main>
        </div>
    </div>

    {{template "mock5_modal_invite_user" .}}
    {{template "mock5_modal_edit_user" .}}
    {{template "mock5_modal_tag" .}}
</body>

</html>