{{define "mock5_modal_tag"}}
<div class="modal" :class="{'modal-open': showTagModal}"
    x-data="{ name: '', categoryId: 0 }">
    <div class="modal-box bg-white rounded-2xl shadow-2xl">
        <h3 class="font-bold text-lg mb-6 tracking-tight">タグの管理</h3>
        <div class="space-y-4">
            <input type="text" placeholder="タグ名" class="input input-bordered w-full text-sm shadow-inner"
                x-model="name" />
            <select class="select select-bordered w-full text-sm font-bold shadow-inner" x-model="categoryId">
                <option value="0" selected disabled>カテゴリを選択</option>
                <option value="1">総務</option>
                <option value="2">人事</option>
                <option value="3">その他</option>
            </select>
        </div>
        <div class="modal-action">
            <button class="btn btn-ghost font-bold" @click="showTagModal = false">キャンセル</button>
            <button class="btn bg-slate-800 border-none font-bold px-8 shadow-md" :disabled="(name && categoryId) ? false : true"
                @click="showTagModal = false; registerTag(name, categoryId); pass=''; role=0; alert('タグを登録しました')">タグを追加</button>
        </div>
    </div>
</div>
<div class="modal-backdrop bg-gray-900 bg-opacity-50" @click="showTagModal = false"></div>
{{end}}
